body {
    font-family: Arial, sans-serif;
    background-color: bisque;
    margin: 0;
    padding: 0;
}

h1 {
    color: red;
    text-align: center;
    padding: 20px 0;
    background-color: green;
    color: antiquewhite;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    padding: 10px;
    background-color: antiquewhite;
    border: beige;
    border-radius: 5px;
}