<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cocktails ingredients</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <h1 th:text="${cocktail.getName()}"></h1>
    <ul>
        <li th:each="ingredient : ${cocktail.getIngredients()}">
            <span th:if="${ingredient.isAllergen()}" th:text="${ingredient.getIngredientName()}" class="allergen"></span>
            <span th:if="${!ingredient.isAllergen()}" th:text="${ingredient.getIngredientName()}"></span>
        </li>
    </ul>

    <a href="/cocktails">Back to cocktail list</a>
</body>
</html>