<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cocktail List</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<h1>Cocktail list</h1>
<ul>
    <li th:each="recipe : ${recipes}">
        <a th:href="@{'/recipe?name=' + ${recipe.name}}" th:text="${recipe.name}"></a>
    </li>
</ul>
<form action="/search" method="get">
    <label for="ingredient">Search by ingredient:</label>
    <input type="text" id="ingredient" name="ingredient" placeholder="Enter ingredient"
           th: value="${ingredient != null} ? $ingredient} : ''"> <button type="submit">Search</button>
</form>

</body>
</html>